page-cadastra-muda {

}
.container-muda-img1{
    width: 100px;
    height: 180px;
    border-radius: 50%; 
    position: relative;
    margin-top: 7px; 
    background-color: #fff;
    display: block;
    margin: auto;
}
.container-nome-muda1{
    border-radius: 50px; 
    height: 50px;
}
.btn-nome-muda{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    position: absolute;
    bottom: 12%;
    width: 90%;
}
.container-muda1{
    width: 190px;
    height: 190px;
    background-color: #fff;
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(50%,0); 
    border-radius: 50%; 
}