page-cadastra-muda {

}
.container-muda-img{
    width: 100px;
    height: 180px;
    border-radius: 50%; 
    margin-left: 50px; 
    margin-top: 7px; 
    background-color: #fff;
}
.container-nome-muda{
    border-radius: 50px; 
    height: 50px;
}
.btn-nome-muda{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    position: absolute;
    bottom: 12%;
    width: 90%;
}