<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>desafios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let desafio of desafiosPendentes">
      <ion-thumbnail item-start>
        <img src="{{desafio.titulo}}.png">
      </ion-thumbnail>
      <h2>{{desafio.titulo}}</h2>
      <h3>{{desafio.categoria}}</h3>
      <h4>{{desafio.status}}</h4>
      <button (click)="openModal(desafio)" ion-button item-end>Ver Desafio</button>
    </ion-item>
    <ion-item *ngFor="let desafio of desafiosDisponiveis">
      <ion-thumbnail item-start>
        <img src="{{desafio.titulo}}.png">
      </ion-thumbnail>
      <h2>{{desafio.titulo}}</h2>
      <h3>{{desafio.categoria}}</h3>
      <h4>{{desafio.status}}</h4>
      <button (click)="openModal(desafio)" ion-button item-end>Ver Desafio</button>
    </ion-item>
    <ion-item *ngFor="let desafio of desafiosConcluidos">
      <ion-thumbnail item-start>
        <img src="{{desafio.titulo}}.png">
      </ion-thumbnail>
      <h2>{{desafio.titulo}}</h2>
      <h3>{{desafio.categoria}}</h3>
      <h4>{{desafio.status}}</h4>
      <button (click)="openModal(desafio)" ion-button item-end>Ver Desafio</button>
    </ion-item>
  </ion-list>

</ion-content>
