// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content{
    background-color: color($colors, secondary);
}
.toolbar-background-md{
    background-color: color($colors, primary);
}
.toolbar-title-md, .bar-button-default-md, ion-title, ion-item, h1, h2, h3, h4, h5, h6, p{
    color: white;
}
h1, h2, h3, h4, h5, h6, p, span, ion-header, ion-title, ion-content, ion-list, ion-item, ion-label {
    font-family: 'Montserrat';
}
ion-item {
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6, ion-title {
    font-weight: 700;
}
span, a {
    font-weight: 500;
}
a {
    color: color($colors, light);
    text-decoration: none;
}
.ion-list {
    background-color: color($colors, primary);
}
.alert-title, .alert-sub-title {
    color: color($colors, danger);
}
.item  {
    .label-md {
        background-color: transparent;
    }
}