<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>muda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container-muda">
    <ion-img id="container-muda-img" 
    [class.container-image-muda-1] = "aux1"
    [class.container-image-muda-2] = "aux2"
    [class.container-image-muda-3] = "aux3" 
    [class.container-image-muda-4] = "aux4"
     [class.container-image-muda-5] = "aux5"></ion-img>
    </div>
       
  <div class="container-muda-nome">
      <p>Nome muda</p>
      <h5>{{muda.nome}}</h5>
      <div class="container-muda-ele">
          <div>
              <p>{{muda.indiceGeral}}</p>
              <p>Estado</p>
          </div>
          <div>
              <p>{{muda.pontos}}</p>
              <p>Pontos</p>
          </div>
          <div >
                <p>{{ emtem  }}</p>
                <p>Emblemas</p>
            </div>
      </div>      
  </div>
  <ion-list class="container-emblemas" >
        <ion-item class="emblemas" *ngFor="let emblema of emblemas" > 
                <ion-img *ngIf = "emblema.categoria == ''" id="nada" class="container-emblema-img"  ></ion-img>
                <ion-img *ngIf = "emblema.categoria == 'Energia'" id="energia"  class="container-emblema-img"  ></ion-img>
                <ion-img *ngIf = "emblema.categoria == 'Água'" id="agua" class="container-emblema-img"  ></ion-img>
        </ion-item>
  </ion-list>
  <button (click)="logout()" ion-button>
    <ion-icon name="logout">logout</ion-icon>
  </button>
  
</ion-content>
