page-muda {

}
.container-muda-img{
    width: 100px;
    height: 180px;
    background-color: #fff;
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
    margin-top: 20px;
}

.container-muda{
    width: 110%;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  
 }
.container-muda-nome{
    margin-top: 15px; 
    background-color: #278989;
    box-shadow: 0 3px 7px #424242;
    position: absolute;
    top: 35%;
    width: 285px;
    height: 130px;
    border-radius: 10px;
}
.container-muda-nome h5{
    font-size: 16px;
    padding-top: 0; 
    padding-bottom: 0;
    text-align: center;
}
.container-muda-nome p{
    font-size: 10px;
    text-align: center;
}
.container-muda-ele{
    width: 210px;
    margin: auto;
}
.container-muda-ele p {
    font-size: 8px;
}
.container-muda-ele div{
    float: left;
    padding-left: 10px; 
}
.container-emblema-img{
    width: 70px;
    height: 70px;
    background-color: #fff;
    padding-top: 18px; 
    padding-left: 15px; 
    border-radius: 20px; 
}
.container-emblemas{
    position: absolute;
    top: 70%;
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 20px; 
    box-shadow: 0 3px 7px #424242;
}