<ion-header>
  <ion-toolbar>
    <ion-title>
      Desafio {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="location" #map id="map"></div>
  <ion-card>
    <img *ngIf="!location" src="{{'./../../../assets/imgs/' + this.titulo + '.png'}}"/>
    <ion-card-content>
      <ion-card-title>
        {{titulo}}
        </ion-card-title>
      <p>
        {{descricao}}
      </p>
    </ion-card-content>
  </ion-card>
  <div>
    <div class="duracao" padding text-center>
      <span *ngIf="status  == 'notyet'"><ion-icon name="alarm"></ion-icon>Deve ser realizado em {{duracao}} dia(s)</span>
      <span *ngIf="status == 'pending'"><ion-icon name="alarm"></ion-icon>Deve ser realizado em {{duracao}} dia(s)</span>
      <span *ngIf="status == 'done'"><ion-icon name="alarm"></ion-icon>Deve ser realizado em {{duracao}} dia(s)</span>
    </div>
  </div>
  <div class="button-Row" padding  text-center>
    <button *ngIf="status  == 'notyet'" ion-button round align small color="default" (click)="closeModal()">Voltar</button>
    <button *ngIf="status  == 'notyet'" ion-button (click)="aceitarDesafio()" round small color="dark">Aceitar Desafio</button>
    <button *ngIf="status  == 'pending'" ion-button round align small color="s-light" (click)="closeModal()">Voltar</button>
    <button *ngIf="status  == 'pending'" ion-button round small color="danger" (click)="cancelaDesafio()">Cancelar desafio</button>
  </div>
  <div class="button-Row" padding  text-center>
    <button *ngIf="status  == 'pending'" ion-button full round large align small color="success" (click)="concluirDesafio()">Concluir</button>
  </div>
</ion-content>